/* Center the entire app on the screen */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f7ff; /* Very light blue background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

/* The "Card" holding your content */
.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.latest-translation {
  padding: 12px;
  border: 2px solid blue;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.hideButton {
  display: inline-flex;
  color: blue;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.translation_table{
  display: flex; /* allows boxes to be laided horizontally */
  gap: 12px; /* Add 12px gap between boxes */
  justify-content: center; /* Center boxes along the main axis */
  align-items: center; /* Boxes will be aligned middle incase boxes width changes */
  margin-bottom: 16px; /* Add gap to the bottom of the box */
}



.title { color: #1e3a8a; margin-bottom: 25px; }
.subtitle { color: #1e40af; margin-top: 30px; }

/* Form and Input Styling */
.item-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-group label {
  font-weight: 600;
  color: #334155;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

input {
  padding: 12px;
  border: 2px solid #cbd5e1;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.latest-translation {
  padding: 12px;
  border: 2px solid blue;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

input:focus {
  border-color: #3b82f6; /* Blue focus border */
}

/* Submit Button */
.submit-btn {
  background-color: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #1d4ed8;
}

/* Table Styling */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.items-table th {
  background-color: #eff6ff;
  color: #1e40af;
  padding: 12px;
  border-bottom: 2px solid #dbeafe;
}

.items-table td {
  padding: 12px;
  border-bottom: 1px solid #f1f5f9;
  color: #475569;
}

.divider {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #e2e8f0;
}